# Idea
.idea

# VS Code
.vscode

# Qt
build-*
*.pro.user
*.qm
*.qmlc

# Python
__pycache__/
*.py[cod]
*$py.class
.hypothesis
.pytest_cache
scihub_eva/resources.py

# Others
*.spec
design/**
!design/*.psd
!design/*.svg
build*/**
dist*/**
i18n/*_zh_HK.ts
i18n/*_zh_TW.ts
*.bak
